<!DOCTYPE html>
<html>
  <head> </head>
  <body>
    <form action="/login" method="post">
      <label>Username</label>
      <input type="text" name="username" />

      <label>Password</label>
      <input type="password" name="password" />
      <button type="submit">Login</button>
    </form>
    <hr />
    <a href="/">Home</a>
  </body>
</html>
